* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.message-area {
    padding: 5px;
    margin: 10px 5px;
    background: #f8f8f8;
    border-radius: 10px;
    border: 1px solid #ddd;
    font-size: 30px;
    line-height: 1.4;
    overflow: auto;
    height: 600px;
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
}

.transcription-button {
    height: 32px;
    width: fit-content;
    color: black;
    padding: 0 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 4px;
    cursor: pointer;
    border-radius: 4px;
}

.transcript-container {
    width: 100%;
    word-wrap: break-word;
    white-space: normal;
    box-sizing: border-box;
}

.status-area {
    background-color: red;
    color: white;
    border-radius: 5px;
    width:fit-content;
    height: fit-content;
    padding: 8px;
    margin: 10px 5px;
}